__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/
env/
# Exclude ALL database files — production DB must never be overwritten by git
data/*.db
data/backups/
instance/
.DS_Store
.vscode/
flask_err.txt
static/uploads/
